article {
    padding-bottom: 1.5em;
    margin-bottom: 1em;
}

article + article {
    background-image: linear-gradient(to right, transparent, #ccc, transparent);
    
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: top center;
}

.moreInfo {
    background-color: #E6E7E8;
    font-size: 1em;
    text-align: center;
    display: block;
    padding: .5em;
    margin: 1em 0;
}