.portfolioLayout {
    display: flex;
    flex-wrap: wrap;
}

.portfolioLayout li {
    text-align: justify;
    background-color: #FAFFFC;
    box-sizing: border-box;
    border: .2em solid black;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    flex: 1 1 45%;
}

.portfolioLayout li:first-child {
    flex-basis: 100%;
}

.portfolioLayout img {
    width: 100%;
    box-shadow: 0 0 4px #000;
    /*box-shadow: 0 0 0 4px #000, 0 0 0 6px #FFF, 0 0 0 8px #000, 0 0 0 10px #FFF, 0 0 0 12px #000;*/
}

/* =================================================================================== */
/* Exemplo para 'desenhar' um cubo 3D posicionando e modificando as cores de cada face */
/* =================================================================================== */

/*
.face {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.frente {
  background-color: red;
  transform: translateZ(100px);
}

.direita {
  background-color: blue;
  transform: translateX(100px) rotateY(90deg);
}

.esquerda {
  background-color: green;
  transform: translateX(-100px) rotateY(-90deg);
}

.cima {
  background-color: yellow;
  transform: translateY(100px) rotateX(90deg);
}
.baixo {
  background-color: magenta;
  transform: translateY(-100px) rotateX(-90deg);
}

.tras {
  background-color: cyan;
  transform: translateZ(-100px) rotateY(180deg);
}

.cubo {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  position: relative;
  top: 100px;
  left: 100px;
  transform: rotateX(10deg) rotateY(10deg);
}
*/

/* =================================================================================== */
/* Exemplo para 'desenhar' um cubo 3D posicionando e modificando as cores de cada face */
/* =================================================================================== */