.centralizer {
	width: 720px;
	margin: auto;
    padding: 30px 0;
    padding-bottom: 80px;
}

body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
    font-size: 120%;
	line-height: 1.5;
}

.mainTitle {
    font-size: 60px;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	text-align: center;
    text-transform: uppercase;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
}

h2 {
    font-size: 30px;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
    clear: both;
}

p {
	text-align: justify;
    margin: 20px 0;
}

main {
    float: left;
    width: 80%;
}

main a {
	color: #851944;
}

.linksArea {
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
    padding: 0;
    width: 20%;
    position: relative;
    top: 310px;
    right: 0;
}

.linksArea, .mainImage {
    float: right;
    box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.mainImage {
    position: absolute;
    top: 0;
    right: 0;
}

.linksArea h1 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 24px;
    margin: 8px 0;
}

.linksArea li {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.links a {
	color: inherit;
    text-transform: lowercase;
}

.linksSocialMedia li {
    display: inline-block;
    padding-bottom: 16px;
}

.linksSocialMedia a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
}

.Github {
    background-image: url(../img/github.png);
}

.Twitter {
    background-image: url(../img/twitter.png);
}

.Linkedin {
    background-image: url(../img/linkedin.png);
}

#footFooter {
    background-color: #000;
    color: #F2FFFC;
    padding: 10px;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}